# NumPy and Pandas for 1D Data
## Pandas Series Index

In [1]:
import pandas as pd
import numpy as np

In [2]:
a = np.array([1,2,3,4])
b = pd.Series([1,2,3,4])

In [3]:
b.describe()

count    4.000000
mean     2.500000
std      1.290994
min      1.000000
25%      1.750000
50%      2.500000
75%      3.250000
max      4.000000
dtype: float64

### Using index comparison

In [4]:
countries = np.array(['Albania','Algeria','Andorra','Angola'])
life_expectancy = np.array([74.7,75.,83.4,57.6])

pd_life_expectancy = pd.Series([74.7,75.,83.4,57.6],index=['Albania','Algeria','Andorra','Angola'])
pd_life_expectancy

Albania    74.7
Algeria    75.0
Andorra    83.4
Angola     57.6
dtype: float64

In [5]:
life_expectancy[0]

74.700000000000003

In [6]:
pd_life_expectancy[0]

74.700000000000003

In [8]:
pd_life_expectancy.loc['Angola']

57.600000000000001

### Index없이 Pandas Series를 사용하는 경우
> 숫자 0,1,2,3,4...가 default index명으로 생성된다.

In [10]:
pd_life_expectancy_no_idx = pd.Series([74.7,75.,83.4,57.6])
pd_life_expectancy_no_idx

0    74.7
1    75.0
2    83.4
3    57.6
dtype: float64

### iloc(index_num)
> index명이 정해지지 않은 Series의 특정위치의 값을 호출할 때는 iloc을 사용한다.

In [11]:
pd_life_expectancy_no_idx[3]

57.600000000000001

In [12]:
pd_life_expectancy_no_idx.idxmax()

2

In [13]:
countries = [
    'Afghanistan', 'Albania', 'Algeria', 'Angola',
    'Argentina', 'Armenia', 'Australia', 'Austria',
    'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh',
    'Barbados', 'Belarus', 'Belgium', 'Belize',
    'Benin', 'Bhutan', 'Bolivia', 'Bosnia and Herzegovina',
]


employment_values = [
    55.70000076,  51.40000153,  50.5       ,  75.69999695,
    58.40000153,  40.09999847,  61.5       ,  57.09999847,
    60.90000153,  66.59999847,  60.40000153,  68.09999847,
    66.90000153,  53.40000153,  48.59999847,  56.79999924,
    71.59999847,  58.40000153,  70.40000153,  41.20000076,
]

# Employment data in 2007 for 20 countries
employment = pd.Series(employment_values, index=countries)

In [14]:
employment.idxmax()

'Angola'

In [15]:
employment['Angola']

75.699996949999999

In [17]:
def max_employment(employment):
    max_country = employment.idxmax()
    max_value = employment[max_country]
    return (max_country,max_value)
print(max_employment(employment))

('Angola', 75.699996949999999)